.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='https://upesopen.org').image-block
            img.className#IdName(src="/images/logo.png" alt="Image Here" height = 25 width = 65)
    .container
      != messages()
      block content
 html
  head
    link(href='https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap' rel='stylesheet')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap' rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet"')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Faster+One&display=swap' rel='stylesheet')
  body
    style.
      .fa {
      font-size: 20px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 5px 5px;
      }
      .fa:hover {
      opacity: 0.7;
      }
      .fa-facebook {
      background: #3B5998;
      color: white;
      }
      .fa-twitter {
      background: #55ACEE;
      color: white;
      }
      .fa-google {
      background: #dd4b39;
      color: white;
      }
      .fa-linkedin {
      background: #007bb5;
      color: white;
      }
      .fa-youtube {
      background: #bb0000;
      color: white;
      }
      .fa-instagram {
      background: #3f729b;
      color: white;
      }
      body {
      background-image: linear-gradient(135deg, #fff 10%, #ffffff 100%);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Open Sans', sans-serif;
      color: #333;
      }
      .box-form {
      margin: 0;
      width: 100%;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex: 1 1 100%;
      align-items: stretch;
      justify-content: space-between;
      box-shadow: 0 0 20px 6px #090b6f 85;
      }
      @media (max-width: 980px) {
      .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
      }
      }
      .box-form div {
      height: fit-content;
      }
      .box-form .left {
      color: #000;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("/images/back1.jpg");
      overflow: hidden;
      }
      .box-form .left .overlay {
      padding: 30px;
      width: 100%;
      height: 100%;
      background: #5961f9 ad;
      overflow: hidden;
      box-sizing: border-box;
      }
      .box-form .left .overlay h1 {
      font-size: 08vmax;
      color: #fff;
      font-family: 'Amatic SC', cursive;
      line-height: 1;
      font-weight: 900;
      margin-top: 40px;
      margin-bottom: 20px;
      margin-left:100px;
      }
      p {
      font-family: 'Kelly Slab', cursive;
      font-size:20px;
      margin-left: 30px;
      }
      .box-form .left .overlay span p {
      font-family: 'Press Start 2P', cursive;
      margin-top: 30px;
      font-weight: 900;
      }
      .box-form .left .overlay span a {
      color: #fff;
      margin-top: 10px;
      text-align:center;
      padding: 15px 25px;
      border-radius: 100px;
      display: inline-block;
      box-shadow: 0 3px 6px 1px #042d46 57;
      }
      .box-form .left .overlay span a:last-child {
      margin-left: 0px;
      }
      .box-form .right {
      padding: 40px;
      overflow: hidden;
      margin-left:30%;
      }
      @media (max-width: 980px) {
      .box-form .right {
      width: 100%;
      }
      }
      .box-form .right h5 {
      font-size: 6vmax;
      margin-bottom:70px;
      color:#146553;
      font-family: 'Metal Mania', cursive;
      text-align: center;
      line-height: 0;
      }
      .box-form .right p {
      font-size: 16px;
      color: #000000;
      }
      .box-form .right . input.form-control {
      overflow: hidden;
      }
      .box-form .right  input.form-control {
      width: 100%;
      padding: 10px;
      margin-top: 25px;
      font-size: 16px;
      
      }
      .box-form .right .remember-me--forget-password {
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
      .box-form .right .remember-me--forget-password input {
      margin: 0;
      margin-right: 7px;
      width: auto;
      }
      .box-form .right button {
      float: right;
      color: #fff;
      font-size: 16px;
      padding: 12px 35px;
      border-radius: 50px;
      display: inline-block;
      border: 0;
      outline: 0;
      
      background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
      }
      .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
       
      }
      .custom-file-input::before {
        content: 'Upload Your Image';
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }
      .custom-file-input:hover::before {
        border-color: black;
      }
      .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }
      label {
      display: block;
      position: relative;
      margin-left: 30px;
      }
      label::before {
      content: ' \f00c';
      position: absolute;
      font-family: FontAwesome;
      background: transparent;
      border: 3px solid #70f570;
     
      color: transparent;
      left: -30px;
      transition: all 0.2s linear;
      }
      label:hover::before {
      font-family: FontAwesome;
      content: ' \f00c';
      color: #000;
      cursor: pointer;
      background: #70f570;
      }
      label:hover::before .text-checkbox {
      background: #70f570;
      }
      label span.text-checkbox {
      display: inline-block;
      height: fit-content;
      position: relative;
      cursor: pointer;
      transition: all 0.2s linear;
      }
      label input[type="checkbox"] {
      display: none;
      }
      .centreWidget{
      margin-left:25%;
      margin-top:18%;}
    .box-form
      .right
        //h5 OSD'20
        img.className#IdName(style="margin-left:20%" src="/images/circle.png" alt="Image Here" height = 100 width = 280)        
        p
          | <br>Registration System developed. (Disabled For now) 
          a(href='/users/login') Login Here <br>
          | Input Details -> BodyParser -> Bcrypt -> Mongoose -> MongoDB.
          a(href='#')
        form(method='post', action='/users/register',enctype='multipart/form-data')
          .form-group
            input.form-control(name='name', type='text', placeholder='Enter Name')
          .form-group
            input.form-control(name='email', type='email', placeholder='Enter Email')
          .form-group
            input.form-control(name='username', type='text', placeholder='Enter Username')
          .form-group
            input.form-control(name='password', type='password', placeholder='Enter Password')
          .form-group
            input.form-control(name='password2', type='password', placeholder='Confirm Password')
          .form-group
            input(name='profileimage', class="custom-file-input" accept="image/*" type='file')
            <br><br><br>
          button(style='background:#146553;' type='submit' name='submit' disabled ="true" value='Register') Register
           
         
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 